<nav class="navbar">

  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/home"><img src="../assets/logo.svg" alt="Amigos sem fronteiras" /></a>

    <ul class="nav">

      <li class="nav-item">
        <a routerLink="/quem-somos" class="nav-link">Quem somos</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/eventos" class="nav-link">Eventos</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="/escolha-usuario" class="nav-link">Cadastre-se</a>
      </li>

      <li class="nav-item">
        <a routerLink="/login" class="btn btn-salmon" type="submit">Login</a>
      </li>

    </ul>

  </div>

</nav>

<main>

  <router-outlet></router-outlet>

</main>