<div class="d-flex justify-content-center align-items-center">
  <div>
    <div class="d-flex justify-content-end w-100 mt-3">
      <input
        type="search"
        class="form-control me-2 mb-2"
        placeholder="Buscar"
      />
    </div>
    <div class="cards flex-wrap w-100">
      @for(e of espacos; track e.nome) {

      <mat-card appearance="outlined" class="m-1 card">
        <img
          mat-card-image
          src="../../../../assets/img/fatese-centro.jpg"
          alt=""
        />
        <mat-card-header>
          <mat-card-title>{{ e.nome }}</mat-card-title>
          <mat-card-subtitle>{{ e.org.nome }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div class="d-flex align-items-center mb-2 mt-2">
            <mat-icon class="me-1">group</mat-icon> {{ e.capacidade }}
          </div>
          <div class="d-flex align-items-center mb-2">
            <mat-icon class="me-1">location_on</mat-icon>
            <div>{{ e.org.endereco }}</div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="d-flex align-items-center justify-content-center">
            <button mat-raised-button class="col-12" (click)="openCadDialog(e)">
              Reservar
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
      }
    </div>
  </div>
</div>

<!-- Adicionar resultado, ex.: De 1 a 12 de 20 Resultados -->
<!-- Adicionar paginação -->