<div class="tudo">

    <div class="box row">

        <!-- <h1>Login</h1> -->

        <div class="mb-3">
            <img src="../../../assets/img/user.png" alt="usuario">
        </div>

        <div class="col-12">
            <div class="form-group mb-3 col-12">
                <input type="text" id="nome" placeholder="Nome" autocomplete="off" formControlName="nome" />
                <label for="nome">Nome</label>
            </div>
        </div>

        <div class="col-12 mb-2">
            <div class="form-group mb-3 col-12">
                <input type="password" id="senha" placeholder="Senha" autocomplete="off" formControlName="senha" />
                <label for="senha">Senha</label>
                <!-- <span class="float-end mt-1"><a href="">Esqueceu a senha?</a></span> -->
            </div>
        </div>

        <div class="col-12 mb-3">
            <a routerLink="/espacos" class="btn btn-salmon w-100 mb-1">Entrar</a>
        </div>

        <p>Ainda não possui uma conta? <a routerLink="/cadastre-se">Cadastre-se</a></p>

    </div>


</div>
