mat-card {
  width: 300px;
}

.box {
  height: 100%;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.09);
}

.card:hover{
  border-color: darksalmon;
  transform: scale(1.02);
  transition-duration: 0.4s;
}

.margin {
  margin: 5px;
}


h3 {
  font-weight: 500;
}

input {
  width: 400px;
}

.end {
  font-weight: 500;
}

.cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tudao {
  display: flex;
  justify-content: end;
}

#descricao {
  text-align: justify;
}

mat-icon {
  color: darksalmon;
}
