<div class="box1">
  <div>
    <div class="mb-3 voltar">
      <i class="bi bi-arrow-left"></i>
      <span>VOLTAR</span>
    </div>
    <div class="box p-4">
      <h3 class="mb-3">Cadastre-se</h3>
      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="Nome completo"
        />
        <label for="floatingInput">Nome</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">E-mail</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="floatingInput"
          placeholder="(00) 00000-0000"
        />
        <label for="floatingInput">Celular</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="tel"
          class="form-control"
          id="floatingInput"
          placeholder="(00) 00000-0000"
        />
        <label for="floatingInput">Telefone</label>
      </div>

      <div class="form-floating mb-3">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          placeholder="000.000.000-00"
        />
        <label for="floatingInput">CPF</label>
      </div>

      <div class="form-floating mb-3">
        <input type="date" class="form-control" id="floatingInput" />
        <label for="floatingInput">Data de Nascimento</label>
      </div>

      <div class="form-floating mb-5">
        <select class="form-select" id="floatingSelectGrid">
          <option disabled selected>Selecione uma opção</option>
          <option value="1">Feminino</option>
          <option value="2">Masculio</option>
          <option value="3">Prefiro não informar</option>
        </select>
        <label for="floatingSelectGrid">Gênero</label>
      </div>

      <button class="btn btn-salmon w-100">Cadastrar</button>
    </div>
  </div>
</div>
